# Include modules - required for boot
insmod part_gpt
insmod part_msdos
insmod fat
insmod fat
insmod xfs
insmod xfs
insmod search_fs_file
insmod search_fs_uuid
insmod search_label
insmod linux
insmod chain
set pager=1
# set debug="all"
set locale_dir="${prefix}/locale"
if [ "${grub_platform}" == "efi" ]; then
    insmod all_video
    insmod efi_gop
    if [ "${grub_cpu}" == "x86_64" ]; then
        insmod bli
        insmod efi_uga
    elif [ "${grub_cpu}" == "i386" ]; then
        insmod bli
        insmod efi_uga
    fi
elif [ "${grub_platform}" == "pc" ]; then
    insmod vbe
    insmod vga
    insmod png
fi
insmod video_bochs
insmod video_cirrus
insmod font
search --fs-uuid --no-floppy --set=usr_part --hint-bios=hd0,gpt5 --hint-efi=hd0,gpt5 --hint-baremetal=ahci0,gpt5  94797f65-f65a-4b7f-bd96-b8890fa2a933
search --fs-uuid --no-floppy --set=root_part --hint-bios=hd0,gpt5 --hint-efi=hd0,gpt5 --hint-baremetal=ahci0,gpt5  94797f65-f65a-4b7f-bd96-b8890fa2a933
if [ -e "${prefix}/fonts/ter-u16n.pf2" ]; then
    set _fontfile="${prefix}/fonts/ter-u16n.pf2"
else
    if [ -e "(${root_part})/usr/share/grub/ter-u16n.pf2" ]; then
        set _fontfile="(${root_part})/usr/share/grub/ter-u16n.pf2"
    else
        if [ -e "(${usr_part})/share/grub/ter-u16n.pf2" ]; then
            set _fontfile="(${usr_part})/share/grub/ter-u16n.pf2"
        fi
    fi
fi
if loadfont "${_fontfile}" ; then
    insmod gfxterm
    set gfxmode="auto"

    terminal_input console
    terminal_output gfxterm
fi
# DEVICE DETAILS: /dev/sda2 PARTUUID=aeaf5b51-c7eb-4d9c-bda0-cf2f3f0a1c11 PARTLABEL=ESP UUID=0633-0A88 LABEL=ESP
# DEVICE DETAILS: /dev/sda3 PARTUUID=a0413f18-a9bf-4f84-93fb-b486c6387c8e PARTLABEL=XBOOTLDR UUID=063A-3662 LABEL=XBOOTLDR
# DEVICE DETAILS: /dev/sda4 PARTUUID=8944034d-58d0-47d1-af63-934209c14c46 PARTLABEL=SWAP UUID= LABEL=SWAP
# DEVICE DETAILS: /dev/sda5 PARTUUID=c9857795-a2cf-4fe4-81d5-8fdb588e67ad PARTLABEL=ARCH_LINUX_ROOT UUID=94797f65-f65a-4b7f-bd96-b8890fa2a933 LABEL=ARCH_ROOT
# (0) ZielonyOS
menuentry "ZielonyOS" {
    set gfxpayload="keep"
    search --fs-uuid --no-floppy --set=root --hint-bios=hd0,gpt3 --hint-efi=hd0,gpt3 --hint-baremetal=ahci0,gpt3  063A-3662
    linux /vmlinuz-linux root=PARTUUID=c9857795-a2cf-4fe4-81d5-8fdb588e67ad rootfstype=xfs rw rootflags=rw,relatime,inode64,logbufs=8,logbsize=32k,noquota 
    initrd /initramfs-linux.img

}
if [ "${grub_platform}" == "efi" ]; then
    if [ "${grub_cpu}" == "x86_64" ]; then
        ## (2) Microsoft Windows 10/11 via x86_64 UEFI
        #menuentry Microsoft Windows 10/11 x86_64 UEFI-GPT {
        #    insmod part_gpt
        #    insmod fat
        #    insmod search_fs_uuid
        #    insmod chain
        #    search --fs-uuid --no-floppy --set=root --hint-bios=hd0,gpt2 --hint-efi=hd0,gpt2 --hint-baremetal=ahci0,gpt2  0633-0A88
        #    chainloader /EFI/Microsoft/Boot/bootmgfw.efi
        #}
    fi
fi
if [ "${grub_platform}" == "efi" ]; then
    menuentry "UEFI Firmware Setup" {
        fwsetup
        }
fi
menuentry "Reboot System" {
    reboot
}
menuentry "Poweroff System" {
    halt
}
